<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <h2>Register</h2>
    </div>
    <form>
      <input type="text" class="fadeIn second" placeholder="First Name" />
      <input type="text" class="fadeIn second" placeholder="Last Name" />
      <input type="text" class="fadeIn second" placeholder="Mail Id" />
      <input type="text" class="fadeIn second" placeholder="Password" />
      <input type="text" class="fadeIn second" placeholder="Re-password" />
      <input type="text" class="fadeIn second" placeholder="Mobile Number" />
      <input type="submit" class="fadeIn fourth" value="Register" />
    </form>
    <div id="formFooter">
      <a class="underlineHover" routerLink="/login">Do login here</a>
      <a class="underlineHover" routerLink="/home">home</a>
    </div>
  </div>
</div>
