<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <h2>Login</h2>
    </div>
    <form>
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="Login"
      />
      <input
        type="text"
        id="password"
        class="fadeIn third"
        name="login"
        placeholder="Password"
      />
      <input type="submit" class="fadeIn fourth" value="Log In" />
    </form>
    <div id="formFooter">
      <a class="underlineHover" routerLink="/registor">Do register here</a>
    </div>
  </div>
</div>
